*.csv
*.tsv
*.json
*.parquet
*.avro

# Ignorer les fichiers de base de données
*.db
*.sqlite
*.sqlite3

# Ignorer les fichiers de sauvegarde
*.bak
*.backup

# Ignorer les fichiers de logs
*.log

# Ignorer les répertoires de données
/data/
/ny_taxi_postgress_data/
Module\ 1\ Docker\ et\ Terraform/ny_taxi_postgress_data/

# Ignorer les fichiers et répertoires Docker
docker-compose.override.yml
docker-data/
.env